%h1.title= group.name
%div.inner
- if group.search_result.value.present?
  %table.table
    %tr.first
      %th Name
      %th
      %th
      %th
      %th

      - group.search_result.value.split(',').each do |person|
        %tr{:class => cycle("odd", "even")}
          %td= person
          %td
          %td
          %td
          %td

- elsif group.search_error.value.present?
  %div.flash
    %div.message.error
      %p= group.search_error.value
