Hello,

Attached is a list of all of the users who have access to the corresponding security groups. Please review them and follow up with any required actions.

Thanks,
Dartmouth Security

This is an automated email. Please do not reply.
