-rows = []
-@search.groups.each do |group|
  -rows.push [group.name, group.search_result.value.split(',')].flatten! unless group.search_result.value.nil?
  -rows.push ["#{group.name}'s parent groups:", group.group_parents.value.split(',')].flatten! unless group.group_parents.value.nil?
  -rows.push ["#{group.name}'s child groups:", group.group_children.value.split(',')].flatten! unless group.group_children.value.nil?
%table{ 'border' => "1"}
  -rows.each do |row|
    %tr
      -column = 0
      -row.each do |data|
        -if column == 0
          %td{ :style => 'font-weight: bold'}= data
        -else
          %td= data
        -column += 1
