// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main .block .content {
    padding-bottom: 20px;
    padding-right: 30px;
}

.block#search-info {

  position: absolute;
  top: 100px;
  right: 25px;
  width: 250px;
  padding-bottom: 20px;
}
