.block
  .content
    %h2.title Groups
    %div.inner
      %table.table
        %tr.first
          %th Name
          %th 
          %th 
          %th
          %th

        - @ldap_groups.each do |group|
          %tr{:class => cycle("odd", "even")}
            %td= link_to group.name, create_temp_search_url(group.name)
            %td 
            %td 
            %td 
            %td 
